*.txt
*.htm
*.html
*.gif
myreturn.c
a.out
tmp.sh
bo_login.sh
mylogin.sh
edit_blogs.sh.old
gen_postfile.sh.2012.7.5
get_edt_fileurl.sh.old
login.sh.old.2012.7.5
newblogs.txt.old
newdirs.txt.old
newdirs.txt.saved
old/
post.old.2012.7.5
post.sh.old
push_urls.sh.old
swfs/
